@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

a {
  text-decoration: none !important;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #8263f7;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #8263f7;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2,
.blog-details h2 {
  font-size: 20px;
  font-weight: 500;
  color: #8263f7;
  margin-bottom: 8px;
}

h3 {
  margin-bottom: 1rem;
}

.blog-details article p {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-details button {
  background: tomato;
  color: #fff;
  border: 1px solid tomato;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #8263f7;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #8263f7;
  color: #fff;
  border: 1px solid #8263f7;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create button:disabled {
  background: transparent;
  color: #8263f7;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.not-found a{
  color: #8263f7;
  margin-top: 1rem;
}